body{
	margin:0px;
	padding:0px;
}
.wrapper{
	width:100%;
  margin:1.3rem auto;
}
.conatiner{
  width:95%;
  margin:1.3rem auto;
}
.nav{
   width:100%;
	 display:flex;
	flex-direction:row;
	justify-content:center;
	height:4rem;
  background-color:purple;
}
.BOX,.BOx,.boX,.bOx,.smbox,.Smbox,.bgbox,.last{
	margin:20px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:90%;
  margin:1.3rem auto;
}
.BOX{
	  width:90%;
    background-color:purple;
   	justify-content:center;
   	height:15rem;
}

.boX,.bOx,.smbox,.Smbox{
	height:1rem;
}
.btn1,.btn2,.btn3,.btn4{
	width:10%;
	height:2rem;
	background-color:mistyrose;
	border:none;
	margin:15px;
	border-radius:1px;
}
.box1{
	width:50%;
	background-color:mistyrose;
	border:none;
	height:4rem;
	margin-top:6rem;
}
.box2{
	width:15%;
	background-color:#ff0040;
	border:none;
	height:4rem;
	margin-top:6rem;
}
.box3,.box4,.box5{
	width:32%;
	height:15rem;
	background-color:lightblue;
}
.box6,.box7,.box8,.box9,.box10,.box11,.box12,.box13,.box14,.box15,.box16,.box17{
	width:32%;
	height:1rem;
	background-color:#757575;
}
.box18{
	width:100%;
	height:15rem;
	background-color:#ff0040;
}
.box19,.box20{
	width:100%;
	height:1rem;
	background-color:#757575;
}
.top{
  width:100%
  background-color:white;
  height:3rem;
}
.bar{
     border:none;
     display:none;
     position:absolute;
     left:20px;
     top:7px;
}

                       /* CSS END */

                 /* Mediaqueries Start */
      /* Mediaqueries for low Resolution Tablets, Mobilephones */
   
   /* 
      ##Device = Low Resolution Tablets, Mobilesphones
      ##Screen = B/w 481px to 767px:
*/
@media (min-width:100px) and (max-width: 767px) {
    .bar{
    	display:block;
    	background-color:white;
    	color:#757575;
    }
    .top{
    	width:100%;
    	height:3rem;
    	background-color:white;
    }
    .btn1,.btn2,.btn3,.btn4{
    	display:none;
    }
    .box3,.box4,.box5{
      	height:10rem;
      }
      
}     
          /* Mediaqueries for iPads,Tablets */

      /* ##Device = Tablets, Ipads 
       ##Screen = B/w 768px to 1024px:
*/
@media (min-width: 768px) and (max-width: 1024px) {
      .box3,.box4,.box5{
      	height:10rem;
      }
      .box19,.box20{
      	width:100%;
      	height:1rem;
      }
  }
         /*  Mediaqueries for Laptops,Desktops  */ 
  /* 
     ##Device = Laptops, Desktops
     ##Screen = B/w 1025px to 1280px:
*/
@media (min-width:1025px) and (max-width:1280px){
	.box3,.box4,.box5{
      	height:10rem;
      }
      .box19,.box20{
      	width:100%;
      	height:1rem;
      }
  
}

            /* Mediaqueries END */