*{
	margin:0;
	padding:0;
}
.wrapper{
	width:100%;
	display:flex;
	justify-content:space-between;
}
.left{
	width:70%;
/*	margin:10px;
*/}
.RIGHT{
    width:25%;
    margin:10px;
}
.header{
	width:100%;
	display:inline-block;
	flex-direction:column;
	justify-content:space-between;
/*	margin:10px;
*/}
.head{
	width:100%;
	background-color: orangered;
    height:6rem;
    margin:10px;

}
.container{
    width:100%;
    height: 19rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
} 
.LEFT{
	width:48%;
	height:10rem;
}
.col{
	width:100%;
	height:7rem;
	background-color:steelblue;
	margin:15px;
}
.right{
	width:48%;
}
.box{
	width:100%;
	height:15.1rem;
	background-color:lightblue;
	margin:15px;
}
/*.BBOX{
    width:60%;
    height:8rem;
}*/
.big-box{
    width:100%;
    background-color:#757575;
    height:16rem;
    margin-left:15px;
}
.row{
    width:90%;
    height:42rem;
/*    margin: 20px;
*/  background-color: steelblue;
}
.footer{
    height:5rem;
    margin:10px;
    background-color: orangered;
} 
                               /* CSS END */
                        /*  Mediaqueries Start  */
          /* Mediaqueries for low Resolution Tablets, Mobilephones */
    /* 
         ##Device = Low Resolution Tablets, Mobilephones:
         ##Screen = B/w 481px to 767px:
*/
@media (min-width:100px) and (max-width: 767px) {
	   .left,.header,.head{
	   	width:100%;
	   	margin:2px;
	   }
	   .RIGHT{
	   	display:none
	   }
       .container,.BBOX{
        width:100%;
        display:flex;
        justify-content:space-between;
       	flex-direction:column-reverse;
       	margin:0;
       	height:15rem;
       }
       .box,.right{
       	width:100%;
       	height:7.9rem;
       	margin:2px;
       }
       .big-box,.LEFT,.col{
       	width:100%;
       	height:7.0rem;
       	margin:2px;
       }
       .footer{
       	width:99%;
       	margin:2px;
       }
}
             /* Mediaqueries for iPads,Tablets */

     /*  ##Device = Tablets, Ipads 
         ##Screen = B/w 768px to 1024px:
*/
@media (min-width: 768px) and (max-width: 1024px) {
     .wrapper{
      width:100%;
     }
   }
           /*  Mediaqueries for Laptops,Desktops  */ 
  /* 
         ##Device = Laptops, Desktops
         ##Screen = B/w 1025px to 1280px:
*/
@media (min-width:1025px) and (max-width:1280px){
    .wrapper{
      width:100%;
    }
  }
            /*  Mediaqueries END  */